@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
}

.container {
    width: 450px;
    margin: 40px auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;

}

.top img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    font-weight: 900;
    margin: 1rem 0;
}

.mid-section p {
    margin: 0 2.8rem;
    color: hsl(224, 23%, 55%);

}

.grey-section {
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: hsl(225, 100%, 98%);
    /* width: 85%; */
    max-width: 85%;
    border-radius: 10px;
}

.double p {
    margin-left: -4rem;
    color: hsl(224, 23%, 55%);
}

.bold {
    font-weight: 700;
    color: black !important;
}

button {
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 15px 28%;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.cancel {
    padding: 2em 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 300px;
        margin: 10em auto;
    }

    .top img {
        width: 299px;
    }

    .bottom {
        padding: 0 0.9em;
    }

    h1 {
        font-weight: 700;
        margin: 1rem 10px;
    }

    .mid-section p {
        margin: 0 2px;
    }

    .double p {
        margin-left: 0;
    }

    .grey-section {
        padding: 1rem 1px;
    }

    button {
        padding: 10px 15%;
    }
}